@mixin buttonHover {
  &:hover {
    background-color: $buttonhover-color;
    cursor: pointer;
    box-shadow: 0px 4px 30px 0px $buttonhover-color;
  }
}
@mixin inputFocus {
  &:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
