$button-color:#3498db;
$buttonhover-color:#497b9f;
$back-color:#FAF6F0;
$footer-color:#001524;
$cardback-color:#cfcfccaa;
$text-color:#040D12;
$secondarytext-color:#F1F0E8;
$navbar-color:#102C57;
$cookies-color:#102c5782;
